<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout_base_simple}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Catalogo</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <script th:src="@{assets/js/catalogo.js}"></script>
    <style>
        #section-motivo-estado{
            padding: 0.5em;
            overflow: hidden;
            margin-bottom: 2em;
        }

         #section-municipio{
            padding: 0.5em;
            overflow: hidden;
            margin-bottom: 2em;
        }

         #section-nacionalidad{
            padding: 0.5em;
            overflow: hidden;
            margin-bottom: 2em;
        }

        .form-catalogo-filter{
           padding: 1em;
        }

    </style>

</head>
<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">

<section layout:fragment="content" style="padding: 1.5em;">

    <div id="featured-services" class="featured-services" style="padding : 0px;">
        <div class="container">

            <div class="row gy-4">

                <div id="motivo-table-link" class="col-lg-4 col-md-6 service-item d-flex aos-init aos-animate" data-aos="fade-up">
                    <div class="icon flex-shrink-0"><i class="fa-solid fa-cubes"></i></div>
                    <div>
                        <h4 class="title" th:text="#{label.motivo.estado.titulo}" >Motivos Estado Solicitudes</h4>
                        <p class="description" th:text="#{label.motivo.estado.descripcion}">Voluptatum deleniti atque cati cupiditate non provident</p>
                        <a onclick="showSection('section-motivo-estado')" class="readmore stretched-link"><span th:text="#{page.generar.column.mostrar}">Mostrar</span><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
                <!-- End Service Item -->

                <div id="municipio-table-link" class="col-lg-4 col-md-6 service-item d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon flex-shrink-0"><i class="fa-solid fa-location-dot"></i></div>
                    <div>
                        <h4 class="title" th:text="#{label.municipio.titulo}" >Dolor Sitema</h4>
                        <p class="description" th:text="#{label.municipio.descripcion}" >Minim veniam, quis  tarad limino ata</p>
                        <a onclick="showSection('section-municipio')" class="readmore stretched-link"><span th:text="#{page.generar.column.mostrar}">Mostrar</span><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div><!-- End Service Item -->

                <div id="nacionalidad-table-link" class="col-lg-4 col-md-6 service-item d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon flex-shrink-0"><i class="fa-solid fa-globe"></i></div>
                    <div>
                        <h4 class="title" th:text="#{label.nacionalidad.titulo}" >Sed ut perspiciatis</h4>
                        <p class="description" th:text="#{label.nacionalidad.descripcion}" >Duisa pariatur</p>
                        <a onclick="showSection('section-nacionalidad')" class="readmore stretched-link"><span th:text="#{page.generar.column.mostrar}">Mostrar</span><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div><!-- End Service Item -->

            </div>

        </div>
    </div>

    <!-- seccion detalle motivo estado INIT-->
    <section id="section-motivo-estado" class="service-details" style="display: none;">
        <div class="container aos-init aos-animate" data-aos="fade-up">

            <div class="row gy-4">

                <div class="section-header">
                    <span  th:text="#{label.motivo.estado.titulo}">Catalogo Motivo Estado</span>
                    <h2  th:text="#{label.motivo.estado.titulo}">Catalogo Motivo Estado</h2>
                </div>

                <div class="col-lg-3 card">
                    <form  method="post" action="#" th:action="@{/motivoestado/filter}" th:object="${MotivoFilterDtoBean}" id="form-motivo-filter" class="form-catalogo-filter">

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="motivo-input" th:field="*{motivoId}" th:value="${MotivoFilterDtoBean.motivoId}" placeholder="Motivo id">
                            <label for="motivo-input" th:text="#{page.motivo.estado.column.motivoId}">Motivo Id</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="descripcion-motivo-input" th:field="*{descripcion}" th:value="${MotivoFilterDtoBean.descripcion}" placeholder="Descripcion">
                            <label for="descripcion-motivo-input" th:text="#{page.motivo.estado.column.descripcion}">Descripcion</label>
                        </div>
                        <button type="submit" class="btn btn-primary" th:text="#{page.generar.column.buscar}" >Submit</button>
                    </form>
                </div>

                <div class="col-lg-8 card" style="margin-left: 0.5em;" >

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col" th:text="#{page.motivo.estado.column.motivoId}">motivoId</th>
                            <th scope="col" th:text="#{page.motivo.estado.column.descripcion}">descripcion</th>
                            <th scope="col" th:text="#{page.motivo.estado.column.estado}">estado</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="motivo : ${PaginatedMotivosBean.motivos}" th:if="${not #lists.isEmpty(PaginatedMotivosBean.motivos)}">
                            <th scope="row" th:text="${motivo.motivoId}" >1</th>
                            <td th:text="${motivo.descripcion}">Nam voluptatem quasi numquam quas</td>
                            <td th:text="${motivo.estado}">Activo</td>
                        </tr>
                        </tbody>

                    </table>

                    <div class="section-header" th:if="${#lists.isEmpty(PaginatedMotivosBean.motivos)}">
                        <span th:text="#{page.error.query.no.data.text}" > No existen registros con los parametros proporcionados</span>
                        <h4 th:text="#{page.error.query.no.data.text}" >No existen registros con los parametros proporcionados</h4>
                    </div>

                    <div id="table-pagination-bottom-motivo">
                        <nav aria-label="Page navigation example" style="float:left;">
                            <p class="page-item" th:text="'Registros restantes: '+${MotivoMaginationBean.remainCount}" style="text-align: center; margin: 5px;">Remain</p>
                        </nav>

                        <nav aria-label="Page navigation example" style="float:right;">
                            <ul class="pagination">
                                <li th:if="${MotivoMaginationBean.paginationIndex >= 1}" class="page-item"><a class="page-link" th:href="@{/catalogo(motivoIndexPage=-1)}">Previous</a></li>
                                <li class="page-item current-page" th:text="'Page '+${MotivoMaginationBean.paginationIndex}" >Previous</li>
                                <li class="page-item"><a class="page-link" th:href="@{/catalogo(motivoIndexPage=1)}">Next</a></li>
                            </ul>
                        </nav>

                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- seccion detalle motivo estado END-->

    <!-- seccion detalle municipio INIT-->
    <section id="section-municipio" class="service-details" style="display: none;">
        <div class="container aos-init aos-animate" data-aos="fade-up">

            <div class="row gy-4">

                <div class="section-header">
                    <span th:text="#{label.municipio.titulo}">Catalogo Municipio</span>
                    <h2 th:text="#{label.municipio.titulo}">Catalogo Municipio</h2>
                </div>

                <div class="col-lg-3 card">
                    <form method="post" action="#" th:action="@{/municipio/filter}" th:object="${MunicipioFilterDtoBean}" class="form-catalogo-filter" id="form-municipio-filter">

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="municipioCodigo-input" th:field="*{codigoMunicipio}" th:value="${MunicipioFilterDtoBean.codigoMunicipio}" th:placeholder="#{page.municipio.column.codigoMunicipio}">
                            <label for="municipioCodigo-input" th:text="#{page.municipio.column.codigoMunicipio}">Codigo municipio</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="descripcion-municipio-input" th:field="*{descripcion}" th:value="${MunicipioFilterDtoBean.descripcion}" th:placeholder="#{page.municipio.column.descripcion}">
                            <label for="descripcion-municipio-input" th:text="#{page.municipio.column.descripcion}">Descripción</label>
                        </div>
                        <button type="submit" class="btn btn-primary" th:text="#{page.generar.column.buscar}" >Submit</button>
                    </form>
                </div>

                <div class="col-lg-8 card" style="margin-left: 0.5em;" >

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col" th:text="#{page.municipio.column.municipioId}">motivoId</th>
                            <th scope="col" th:text="#{page.municipio.column.descripcion}">descripcion</th>
                            <th scope="col" th:text="#{page.municipio.column.codigoMunicipio}">estado</th>
                            <th scope="col" th:text="#{page.municipio.column.provinciaId}">motivoId</th>
                            <th scope="col" th:text="#{page.municipio.column.estado}">descripcion</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="municipio : ${PaginatedMunicipioBean.municipios}" th:if="${not #lists.isEmpty(PaginatedMunicipioBean.municipios)}">
                            <th scope="row" th:text="${municipio.municipioId}">1</th>
                            <td th:text="${municipio.descripcion}">Nam voluptatem quasi numquam quas</td>
                            <td th:text="${municipio.codigoMunicipio}">TRE-001</td>
                            <td th:text="${municipio.provinciaId}">25</td>
                            <td th:text="${municipio.estado}">Activo</td>
                        </tr>
                        </tbody>

                    </table>

                    <div class="section-header" th:if="${#lists.isEmpty(PaginatedMunicipioBean.municipios)}">
                        <span th:text="#{page.error.query.no.data.text}" >No existen registros con los parametros proporcionados</span>
                        <h4 th:text="#{page.error.query.no.data.text}">No existen registros con los parametros proporcionados</h4>
                    </div>

                    <div id="table-pagination-bottom-municipio">
                        <nav aria-label="Page navigation example" style="float:left;">
                            <p class="page-item" th:text="'Registros restantes: '+${MunicipioPaginationBean.remainCount}" style="text-align: center; margin: 5px;">Remain</p>
                        </nav>

                        <nav aria-label="Page navigation example" style="float:right;">
                            <ul class="pagination">
                                <li th:if="${MunicipioPaginationBean.paginationIndex >= 1}" class="page-item"><a class="page-link" th:href="@{/catalogo(municipioIndexPage=-1)}">Previous</a></li>
                                <li class="page-item current-page" th:text="'Page '+${MunicipioPaginationBean.paginationIndex}" >Previous</li>
                                <li class="page-item"><a class="page-link" th:href="@{/catalogo(municipioIndexPage=1)}">Next</a></li>
                            </ul>
                        </nav>

                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- seccion detalle municipio END-->

    <!-- seccion detalle nacionalidad INIT-->
    <section id="section-nacionalidad" class="service-details" style="display: none;">
        <div class="container aos-init aos-animate" data-aos="fade-up">

            <div class="row gy-4">

                <div class="section-header">
                    <span th:text="#{label.nacionalidad.titulo}">Catalogo Nacionalidad</span>
                    <h2 th:text="#{label.nacionalidad.titulo}">Catalogo Nacionalidad</h2>
                </div>

                <div class="col-lg-3 card">
                    <form method="post" action="#" th:action="@{/nacionalidad/filter}" th:object="${NacionalidadFilterDTOBean}" class="form-catalogo-filter" id="form-nacionalidad-filter">

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="paisId-input" th:field="*{paisId}" th:value="${NacionalidadFilterDTOBean.paisId}" placeholder="Pais Id">
                            <label for="paisId-input" th:text="#{page.nacionalidad.column.paisId}">Pais Id</label>
                        </div>

                        <button type="submit" class="btn btn-primary" th:text="#{page.generar.column.buscar}" >Submit</button>
                    </form>
                </div>

                <div class="col-lg-8 card" style="margin-left: 0.5em;" >

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col" th:text="#{page.nacionalidad.column.nacionalidadId}">motivoId</th>
                            <th scope="col" th:text="#{page.nacionalidad.column.descripcion}">descripcion</th>
                            <th scope="col" th:text="#{page.nacionalidad.column.paisId}">estado</th>
                            <th scope="col" th:text="#{page.nacionalidad.column.estado}">motivoId</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="nacionalidad : ${PaginatedNacionalidadBean.nacionalidades}" th:if="${not #lists.isEmpty(PaginatedNacionalidadBean.nacionalidades)}">
                            <th scope="row" th:text="${nacionalidad.nacionalidadId}">1</th>
                            <td th:text="${nacionalidad.descripcion}" >Nam voluptatem quasi numquam quas</td>
                            <td th:text="${nacionalidad.paisId}" >TRE-001</td>
                            <td th:text="${nacionalidad.estado}">Activo</td>
                        </tr>
                        </tbody>

                    </table>

                    <div class="section-header" th:if="${#lists.isEmpty(PaginatedNacionalidadBean.nacionalidades)}">
                        <span th:text="#{page.error.query.no.data.text}">No existen registros con los parametros proporcionados</span>
                        <h4 th:text="#{page.error.query.no.data.text}">No existen registros con los parametros proporcionados</h4>
                    </div>

                    <div id="table-pagination-bottom-nacionalidad">
                        <nav aria-label="Page navigation example" style="float:left;">
                            <p class="page-item" th:text="'Registros restantes: '+${NacionalidadPaginationBean.remainCount}" style="text-align: center; margin: 5px;">Remain</p>
                        </nav>

                        <nav aria-label="Page navigation example" style="float:right;">
                            <ul class="pagination">
                                <li th:if="${NacionalidadPaginationBean.paginationIndex >= 1}" class="page-item"><a class="page-link" th:href="@{/catalogo(nacionalidadIndexPage=-1)}">Previous</a></li>
                                <li class="page-item current-page" th:text="'Page '+${NacionalidadPaginationBean.paginationIndex}" >Previous</li>
                                <li class="page-item"><a class="page-link" th:href="@{/catalogo(nacionalidadIndexPage=1)}">Next</a></li>
                            </ul>
                        </nav>

                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- seccion detalle nacionalidad END-->

</section>

<div layout:fragment="custom-panel">

</div>

<div layout:fragment="custom-script">

</div>

</body>
</html>