<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">

    <link th:href="@{/css/pure-min.css}" rel="stylesheet">
    <link th:href="@{/css/grids-responsive-min.css}" rel="stylesheet">
    <link th:href="@{/css/layouts-blog-styles.css}" rel="stylesheet">

    <link th:href="@{/css/styles_A.css}" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>Usuario: Serving Web Content</title>
</head>
<body>

<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-6">
        <div class="header">
            <h1 class="brand-title">Soporte Técnico. UNIPAGO S. A.</h1>
            <h2 class="brand-tagline">This system is intended only for the person or entity authorized.</h2>

            <nav class="nav">
                <ul class="nav-list">

                    <li class="nav-item">
                        <a class="pure-button" th:href="@{/usuario}" >Account Page</a>
                    </li>

                    <li class="nav-item">
                        <a class="pure-button" th:href="@{/entidad}" >Entidad</a>
                    </li>

                    <li class="nav-item">
                        <a class="pure-button" th:href="@{/afi_titular}" >Afiliacion Titular</a>
                    </li>

                    <li class="nav-item">
                        <a class="pure-button" th:href="@{/afi_dependiente}" >Afiliacion Dependientes</a>
                    </li>

                    <li class="nav-item">
                        <a class="pure-button" th:href="@{/catalogo}" >Catalogos</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" th:href="@{/gestion/usuario}" >Gestion Usuario</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            <!-- A wrapper for all the blog posts -->
            <div class="posts">
                <h1 th:text="${SystemInfoBean.pageName}" class="content-subhead">Usuario </h1>
                <h1 th:text="${#dates.format(SystemInfoBean.sysDate,'dd MMMM yyyy')}" class="content-subhead">Fecha </h1>

                <!-- A single blog post -->
                <section class="post">
                    <header class="post-header">
                        <img alt="Unipago" class="post-avatar" th:src="@{/img/unipago_logo.png}" width="48" height="48">

                        <div>

                            <form method="post" class="pure-form" action="#" th:action="@{/dependiente/filter}" th:object="${solicitudDepFilterBean}">
                                <fieldset>
                                    <input type="text" th:field="*{solicitudAfiTitular}" th:value="${solicitudDepFilterBean.solicitudAfiTitular}"  placeholder="Solicitud titular Id" />

                                    <select id="tipoDependiente" th:field="*{tipoDependiente}" th:value="${solicitudDepFilterBean.tipoDependiente}">
                                        <option value="T" >Todos</option>
                                        <option value="D" >Directos</option>
                                        <option value="A" >Adiccionales</option>
                                    </select>

                                    <select id="estado" th:field="*{estado}" th:value="${solicitudDepFilterBean.estado}">
                                        <option value="T" >Todos</option>
                                        <option value="PE" >Pendientes</option>
                                        <option value="OK">Aceptados</option>
                                        <option value="RE">Rechazados</option>
                                    </select>

                                    <button type="submit" class="pure-button pure-button-primary">Buscar</button>
                                </fieldset>
                            </form>

                        </div>

                    </header>

                    <div class="post-description">
                        <table class="pure-table"  style="height">
                            <thead>
                            <tr>
                                <th>AFILIACION ID</th>
                                <th>SOLICITUD ID</th>
                                <th>SERVICIO</th>
                                <th>ENTIDAD</th>
                                <th>NOMBRE ENTIDAD</th>
                                <th>TIPO IDENTIFICACION</th>
                                <th>NUI</th>
                                <th>NSS</th>
                                <th>CEDULA</th>
                                <th>NOMBRE</th>
                                <th>APELLIDO</th>
                                <th>SEGUNDO APELLIDO</th>
                                <th>TIPO DEPENDIENTE</th>
                                <th>TIPO AFILIADO</th>
                                <th>PARENTESCO</th>
                                <th>NACIONALIDAD</th>
                                <th>ESTADO</th>
                                <th>MOTIVO</th>
                                <th>SEGURO</th>
                                <th>REGIMEN</th>
                                <th>ESTUDIANTE</th>
                                <th>DISCAPACITADO</th>
                                <th>CEDULA TITULAR</th>
                                <th>CIUDADANO TITULAR ID</th>
                                <th>SOL AFI TITULAR</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr  th:each="sol : ${solDependienteList}">
                                <td th:text="${sol.afiliacionId}"> 1 </td>
                                <td th:text="${sol.solicitudId}">Honda</td>
                                <td th:text="${sol.servicio}">Honda</td>
                                <td th:text="${sol.entidadId}">2009</td>
                                <td th:text="${sol.nombreEntidad}">1</td>
                                <td th:text="${sol.tipoIdentificacionId}">Accord</td>
                                <td th:text="${sol.nui}">2009</td>
                                <td th:text="${sol.nss}">1</td>
                                <td th:text="${sol.cedula}">Honda</td>
                                <td th:text="${sol.nombre}">Accord</td>
                                <td th:text="${sol.primerApellido}">Accord</td>
                                <td th:text="${sol.segundoApellido}">2009</td>

                                <td th:text="${sol.tipoDependiente}">2009</td>
                                <td th:text="${sol.tipoAfiliado}">2009</td>
                                <td th:text="${sol.parentesco}">2009</td>
                                <td th:text="${sol.nacionalidad}">2009</td>
                                <td th:text="${sol.estado}">2009</td>
                                <td th:text="${sol.motivoId}">2009</td>
                                <td th:text="${sol.seguroId}">2009</td>
                                <td th:text="${sol.regimenId}">2009</td>
                                <td th:text="${#strings.toUpperCase(sol.estudiante)}">2009</td>
                                <td th:text="${#strings.toUpperCase(sol.discapacitado)}">2009</td>
                                <td th:text="${sol.cedulaTitular}">2009</td>
                                <td th:text="${sol.ciudadanoTitularId}">2009</td>
                                <td th:text="${sol.solicitudAfiliacionTitular}">2009</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>

            <!-- <div class="footer">
                 <div class="pure-menu pure-menu-horizontal">
                     <ul>
                         <li class="pure-menu-item"><a href="http://purecss.io/" class="pure-menu-link">About</a></li>
                         <li class="pure-menu-item"><a href="http://github.com/pure-css/pure/" class="pure-menu-link">GitHub</a></li>
                     </ul>
                 </div>
             </div>-->
        </div>
    </div>
</div>

</body>
</html>