<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout_base_simple}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Formulario Ciudadano</title>
    <meta content="" name="description">
    <meta content="" name="keywords">


</head>
<body id="app" data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">


<section layout:fragment="content">

    <section id="contact" class="contact" style="padding: 0px; margin-bottom: 3em;">

        <div class="container aos-init aos-animate" data-aos="fade-up">

            <div class="row gy-4 mt-4">

                <div class="col-lg-4">

                    <img src="https://thumbs.dreamstime.com/b/registration-online-membership-network-internet-business-technology-concept-104512007.jpg" style="height: 300px; width: 425px;" >

                </div>

                <div class="col-lg-8">

                    <div th:if="${ErrorPageBean.isError}">

                        <div th:replace="fragments/fragment_panel :: panel_section(type='danger',title=|Error :${ErrorPageBean.codigoError}|, content=${ErrorPageBean.descripcionError})"></div>
                    </div>

                    <form method="post" action="#" th:action="@{/inscription}" th:object="${CiudadanoBean}" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" th:field="*{cedula}" th:value="${CiudadanoBean.cedula}" name="cedula" class="form-control" id="cedula" th:placeholder="#{formulario.creacion.ciudadano.cedula}" required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="text" th:field="*{nss}" th:value="${CiudadanoBean.nss}" class="form-control" name="nss" id="nss" th:placeholder="#{formulario.creacion.ciudadano.nss}">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" th:field="*{nombre}" th:value="${CiudadanoBean.nombre}" name="nombre" class="form-control" id="nombre" th:placeholder="#{formulario.creacion.ciudadano.nombre}" required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="text" th:field="*{primerApellido}" th:value="${CiudadanoBean.primerApellido}" class="form-control" name="primerApellido" id="primerApellido" th:placeholder="#{formulario.creacion.ciudadano.primer.apellido}" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" th:field="*{segundoApellido}" th:value="${CiudadanoBean.segundoApellido}" name="segundoApellido" class="form-control" id="segundo Apellido" th:placeholder="#{formulario.creacion.ciudadano.segundo.apellido}" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <select th:field="*{nacionalidad}" th:value="${CiudadanoBean.nacionalidad}" class="form-select" aria-label="Default select example">
                                    <option value="0" selected th:text="#{formulario.creacion.ciudadano.nacionalidad}">Open this select menu</option>
                                    <option th:each="nacion : ${ListadoNacionalidadBean}" th:value="${nacion.nacionalidadId}" th:text="${nacion.descripcion}" value="1">Madre</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group">
                                <select th:field="*{municipio}" th:value="${CiudadanoBean.municipio}" class="form-select" aria-label="Default select example" required>
                                    <option value="0" selected th:text="#{formulario.creacion.ciudadano.municipio}">Seleciona un municipio</option>
                                    <option th:each="municipio : ${ListadoMunicipioBean}" th:value="${municipio.municipioId}" th:text="${municipio.descripcion}" ></option>
                                </select>
                            </div>

                            <div class="col-md-6 form-group">
                                <select th:field="*{genero}" th:value="${CiudadanoBean.genero}" class="form-select" aria-label="Default select example" required>
                                    <option value="0" selected th:text="#{formulario.creacion.ciudadano.genero}">Seleciona el Genero</option>
                                    <option value="M" >Masculino</option>
                                    <option value="F" >Femenino</option>
                                </select>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-2 form-group">
                                <label class="form-label" th:text="#{formulario.creacion.ciudadano.fecha.nacimiento}">Fecha nacimiento</label>
                            </div>

                            <div class="col-md-6 form-group">
                                <div class="md-form md-outline input-with-post-icon datepicker" id="date-picker-example" aria-haspopup="true" aria-expanded="false" aria-readonly="false" aria-owns="date-picker-example_root">
                                    <input placeholder="Select date" type="date" th:field="*{fechaNacimiento}" th:value="${CiudadanoBean.fechaNacimiento}" id="example" class="form-control picker__input" required>
                                </div>
                            </div>
                        </div>

                        <div class="text-center"><button type="submit">Enviar Formulario</button></div>
                    </form>
                </div>
                <!-- End Contact Form -->

            </div>

        </div>

    </section>

</section>
<!-- End #main -->

<div layout:fragment="custom-panel">

</div>

<div layout:fragment="custom-script">

    <script th:src="@{assets/js/ciudadano-script.js}"></script>

</div>

</body>
</html>