<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Security Medicare App</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- browser icon -->
    <link th:href="@{assets/img/logo/SecurityMedicCareApp_Logo.png}" rel="icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/aos/aos.css}" rel="stylesheet">

    <!-- jQuery Core version 3.6.0 File -->
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>

    <!-- Template Main CSS File -->
    <link th:href="@{assets/css/main.css}" rel="stylesheet">
</head>
<body id="app" data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">

<!-- init Header Section -->
<div th:insert="fragments/header_page :: header_section"></div>
<!-- End Header Section -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('assets/img/page-header.jpg');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>Ciudadano</h2>
                        <p>Se considera como ciudadano de un Estado a aquella persona que posee derechos civiles y políticos dentro del territorio y es considerado como tal.</p>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a th:href="@{/home}" >Home</a></li>
                    <li th:text="${SystemInfoBean.pageName}" >Ciudadano</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->



</main><!-- End #main -->

<section id="contact" class="contact" style="padding: 0px; margin-bottom: 3em;">

    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="row gy-4 mt-4">

            <div class="col-lg-4">

                <img src="https://thumbs.dreamstime.com/b/registration-online-membership-network-internet-business-technology-concept-104512007.jpg" style="height: 300px; width: 425px;" >

            </div>

            <div class="col-lg-8">

<!--
                <div th:replace="fragments/fragment_panel :: panel_section(type='info',title='Error en formulario', content='existen datos requeridos no proporcionados')"></div>
-->


                <form method="post" action="#" th:action="@{/inscription}" th:object="${CiudadanoBean}" role="form" class="php-email-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" th:field="*{cedula}" th:value="${CiudadanoBean.cedula}" name="cedula" class="form-control" id="cedula" placeholder="Cedula" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="text" th:field="*{nss}" th:value="${CiudadanoBean.nss}" class="form-control" name="nss" id="nss" placeholder="Nss">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" th:field="*{nombre}" th:value="${CiudadanoBean.nombre}" name="nombre" class="form-control" id="nombre" placeholder="Nombre" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="text" th:field="*{primerApellido}" th:value="${CiudadanoBean.primerApellido}" class="form-control" name="primerApellido" id="primerApellido" placeholder="Primer Apellido" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" th:field="*{segundoApellido}" th:value="${CiudadanoBean.segundoApellido}" name="segundoApellido" class="form-control" id="segundo Apellido" placeholder="Segundo Apellido" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <select th:field="*{nacionalidad}" th:value="${CiudadanoBean.nacionalidad}" class="form-select" aria-label="Default select example">
                                <option value="0" selected th:text="#{page.select.solicitud.datos.titular.nacionalidad}">Open this select menu</option>
                                <option th:each="nacion : ${ListadoNacionalidadBean}" th:value="${nacion.nacionalidadId}" th:text="${nacion.descripcion}" value="1">Madre</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 form-group">
                            <select th:field="*{municipio}" th:value="${CiudadanoBean.municipio}" class="form-select" aria-label="Default select example">
                                <option value="0" selected >Seleciona un municipio</option>
                                <option th:each="municipio : ${ListadoMunicipioBean}" th:value="${municipio.municipioId}" th:text="${municipio.descripcion}" ></option>
                            </select>
                        </div>

                        <div class="col-md-6 form-group">
                            <select th:field="*{genero}" th:value="${CiudadanoBean.genero}" class="form-select" aria-label="Default select example">
                                <option value="0" selected >Seleciona el Genero</option>
                                <option value="M" >Masculino</option>
                                <option value="F" >Femenino</option>
                            </select>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-2 form-group">
                            <label class="form-label">Fecha nacimiento</label>
                        </div>

                        <div class="col-md-6 form-group">
                            <div class="md-form md-outline input-with-post-icon datepicker" id="date-picker-example" aria-haspopup="true" aria-expanded="false" aria-readonly="false" aria-owns="date-picker-example_root">
                                <input placeholder="Select date" type="date" th:field="*{fechaNacimiento}" th:value="${CiudadanoBean.fechaNacimiento}" id="example" class="form-control picker__input" required>
                            </div>
                        </div>
                    </div>

                    <div class="text-center"><button type="submit">Enviar Formulario</button></div>
                </form>
            </div>
            <!-- End Contact Form -->

        </div>

    </div>

</section>

<!-- init Footer Section -->
<div th:insert="fragments/footer_page :: footer_section"></div>
<!-- End Footer Section -->

<!-- Vendor JS Files -->
<script th:src="@{assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{assets/vendor/purecounter/purecounter_vanilla.js}"></script>
<script th:src="@{assets/vendor/glightbox/js/glightbox.min.js}"></script>
<script th:src="@{assets/vendor/aos/aos.js}"></script>
<script th:src="@{assets/vendor/swiper/swiper-bundle.min.js}"></script>


<!-- Template Main JS File -->
<script th:src="@{assets/js/main.js}"></script>
<!-- ciudadano JS File -->
<script th:src="@{assets/js/ciudadano-script.js}"></script>

</body>
</html>