<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body >

    <!-- ======= Header ======= -->
    <header th:fragment="header_section" id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a th:href="@{/home}" class="logo d-flex align-items-center">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.png" alt=""> -->
                <h1>Security Medicare</h1>
            </a>

            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
            <nav id="navbar" class="navbar">
                <ul>
                    <li sec:authorize="hasAuthority('ADMINISTRADOR') or hasAuthority('PORTAL WEB') or hasAuthority('PORTAL Y SERVICIOS WEB')" ><a th:href="@{/home}" th:text="#{header.page.link.home}">Home</a></li>
                    <li sec:authorize="hasAuthority('ADMINISTRADOR') or hasAuthority('PORTAL WEB') or hasAuthority('PORTAL Y SERVICIOS WEB')" class="dropdown"><a href="#"><span th:text="#{header.page.link.ciudadano}">Ciudadano</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a th:href="@{/ciudadano}" class="active" th:text="#{header.page.link.list}">Listado</a></li>
                            <li><a th:href="@{/formCiudadano}" th:text="#{header.page.link.form}">Formulario</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="hasAuthority('ADMINISTRADOR') or hasAuthority('PORTAL WEB') or hasAuthority('PORTAL Y SERVICIOS WEB')" class="dropdown"><a href="#"><span th:text="#{header.page.link.catalogo}">Catalogos</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a th:href="@{/catalogo}" class="active" th:text="#{header.page.link.list}">Listado</a></li>
                            <li><a th:href="@{/form_catalogo}" th:text="#{header.page.link.form}">Formulario</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="hasAuthority('ADMINISTRADOR') or hasAuthority('PORTAL WEB') or hasAuthority('PORTAL Y SERVICIOS WEB')"><a th:href="@{/solicitud}" th:text="#{header.page.link.solicitud}">Solicitudes</a></li>
                    <li sec:authorize="hasAuthority('ADMINISTRADOR') or hasAuthority('PORTAL WEB') or hasAuthority('PORTAL Y SERVICIOS WEB')"><a th:href="@{/despacho}" th:text="#{header.page.link.despacho}">Despacho</a></li>
                    <li sec:authorize="hasAuthority('ADMINISTRADOR') or hasAuthority('PORTAL WEB') or hasAuthority('PORTAL Y SERVICIOS WEB')">
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="get-a-quote" th:text="#{header.page.link.logout}"> Salir </button>
                        </form>
                    </li>
                </ul>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

</body>
</html>