<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="table_paginated(tableColumn)" id="about" class="about" style="padding: 1em 0;">

        <div class="aos-init aos-animate" data-aos="fade-up" style="margin: 2em;">
            <div class="row gy-4">

                <table class="table table-hover">
                    <thead>
                    <tr >
                        <th scope="col" th:each="columnName : ${tableColumn.split(',')}"
                            th:if="${not #lists.isEmpty(tableColumn)}"
                            th:text="${columnName}">CiudadanoId</th>

                        <!--<th scope="col" th:text="#{page.despacho.column.solicitudId}">CiudadanoId</th>
                        <th scope="col" th:text="#{page.despacho.column.servicioId}">Cedula</th>
                        <th scope="col" th:text="#{page.despacho.column.fechaRecepcion}">Nss</th>
                        <th scope="col" th:text="#{page.despacho.column.loteId}">Nombre</th>
                        <th scope="col" th:text="#{page.despacho.column.entidadId}">Primer Apellido</th>
                        <th scope="col" th:text="#{page.despacho.column.seguroId}">Segundo Apellido</th>
                        <th scope="col" th:text="#{page.despacho.column.regimenId}">Genero</th>
                        <th scope="col" th:text="#{page.despacho.column.tipoAfiliado}">Fecha Nacimiento</th>
                        <th scope="col" th:text="#{page.despacho.column.cedula}">Edad</th>
                        <th scope="col" th:text="#{page.despacho.column.nss}">Edad</th>
                        <th scope="col" th:text="#{page.despacho.column.estado}">Estado</th>
                        <th scope="col" th:text="#{page.despacho.column.motivoId}">Motivo</th>
                        <th scope="col" colspan="2" th:text="#{page.generar.column.accion}">Acción</th>-->
                    </tr>
                    </thead>
                    <tbody>
                   <!-- <tr>
                        <th scope="row" >1</th>
                        <td>0456325896</td>
                        <td>01/01/2000</td>
                        <td>8965235</td>
                        <td>Mario</td>
                        <td>1</td>
                        <td>Cesar</td>
                        <td>M</td>
                        <td>M</td>
                        <td>M</td>
                        <td>M</td>
                        <td>Activo</td>
                        <td>

                            <button type="button" class="menu-button-solicitud btn btn-warning">
                                <i class="fa-solid fa-eye"></i>
                            </button>

                        </td>
                        <td>
                                <button  type="submit" class="menu-button-solicitud btn btn-primary">
                                    Delete
                                </button>

                            </form>

                        </td>
                    </tr>-->
                    </tbody>
                </table>

            </div>

        </div>
</div>

</body>
</html>