<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout_base}">
<head>

    <title>Gestion Usuario</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta content="" name="description">
    <meta content="" name="keywords">

    <link th:href="@{../css/gestion-usuario.css}" rel="stylesheet">

</head>
<body>

<section layout:fragment="content">

    <button id="detail-modal-buttom" type="button" data-bs-toggle="modal" data-bs-target="#detailModal" style=" display:none;">
    </button>

<!--
    first row datos usuario actualmente logueado...
-->
    <div class="row">

        <div class="profile-info">
            <div class="row">

                <div class="row">
                    <div class="col-6">

                        <img th:src="@{../assets/img/icon/anonymous-vector-icon-profile.jpg}" class="profile-pic" alt="Error loading">

                    </div>
                    <div class="col-6">

                        <form>

                            <div class="mb-3">
                                <label for="profileNameInput" class="form-label" th:text="#{gestion.usuario.label.name}">Email address</label>
                                <input type="text" class="form-control" id="profileNameInput" th:value="${UsuarioBean.name}" disabled>
                            </div>

                            <div class="mb-3">
                                <label for="profileTipoInput" class="form-label" th:text="#{gestion.usuario.label.tipoUsuario}">Email address</label>
                                <input type="text" class="form-control" id="profileTipoInput" th:value="${UsuarioBean.tipoUsuario}" disabled>
                            </div>

                            <div class="mb-3">
                                <label for="profileCorreoInput" class="form-label" th:text="#{gestion.usuario.label.primaryEmail}">Email address</label>
                                <input type="email" class="form-control" id="profileCorreoInput" th:value="${UsuarioBean.correoprimario}" disabled>
                            </div>

                            <div class="mb-3">
                                <label for="profileEstadoInput" class="form-label" th:text="#{gestion.usuario.label.estado}">Email address</label>
                                <input type="text" class="form-control" id="profileEstadoInput" th:value="${UsuarioBean.estado}" disabled>
                            </div>

                            <p class="card-text"><small th:text="|#{gestion.usuario.label.lastTimeLogin} ${UsuarioBean.timeLogin} minutos|">las time login in Hours/minutes 85</small></p>
                        </form>

                    </div>
                </div>

                <div class="accordion" id="accordionExample" style="margin-top: 5px;">

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"
                            th:text="#{gestion.usuario.plus.option}">
                                Más Opciones
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <a type="button" class="btn btn-outline-primary" th:href="@{/formulario/usuario}">Crear nuevo Usuario</a>
                                <button type="button" class="btn btn-outline-primary">Desloguear Usuario</button>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--left data  -->

<!--        ASecond row datos generales de los usuarios  ...-->
        <div class="mb-3" style="background-color: white; margin: 2em; width: 50%;">
            <div class="row gy-4" >

                <div class="card" style="width: 15rem; margin: 0.5em;">
                    <img th:src="@{../assets/img/app/img_usuarios_totales.png}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-text">Usuarios Totales <span class="purecounter">10</span></h4>
                    </div>
                </div><!-- End Stats Item -->

                <div class="card" style="width: 15rem; margin: 0.5em;">
                    <img th:src="@{../assets/img/app/img_usuarios_activos.png}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-text">Usuarios Activos <span class="purecounter">10</span></h4>                    </div>
                </div><!-- End Stats Item -->

                <div class="card" style="width: 15rem; margin: 0.5em;">
                    <img th:src="@{../assets/img/app/img_usuarios_inactivos.jpg}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-text">Usuarios Inactivos <span class="purecounter">10</span></h4>
                    </div>
                </div><!-- End Stats Item -->

            </div>
        </div>

    </div>
    <!--        END Second row datos generales de los usuarios  ...-->


    <!--  Lista de usuarios en el sistema -->

    <div th:replace="fragments/component/section-header :: sectionHeader(texto= #{page.column.gestion.usuario.section.title})"></div>

    <div id="about" class="about" style="padding: 1em 0;">
        <div class="aos-init aos-animate" data-aos="fade-up" style="margin: 2em;">
            <div class="row gy-4">

                <table class="table table-hover">
                    <thead>
                    <tr >
                        <th scope="col" th:text="#{page.column.gestion.usuario.usuarioId}">CiudadanoId</th>
                        <th scope="col" th:text="#{page.column.gestion.usuario.nombre}">Cedula</th>
                        <th scope="col" th:text="#{page.column.gestion.usuario.tipoUsuarioId}">Nss</th>
                        <th scope="col" th:text="#{page.column.gestion.usuario.correoPrimario}">Nombre</th>
                        <th scope="col" th:text="#{page.column.gestion.usuario.fechaUltimoCambio}">Primer Apellido</th>
                        <th scope="col" th:text="#{page.column.gestion.usuario.estado}">AC</th>
                        <th scope="col" colspan="2" th:text="#{page.generar.column.accion}">Acción</th>
                    </tr>
                    </thead>
                    <tbody>
                     <tr th:each="usuario : ${PaginatedUsuarioBean.usuarios}" th:if="${not #lists.isEmpty(PaginatedUsuarioBean.usuarios)}">
                         <th scope="row" th:text="${usuario.usuarioId}" >1</th>
                         <td th:text="${usuario.nombre}">0456325896</td>
                         <td th:text="${usuario.tipoUsuarioId}">01/01/2000</td>
                         <td th:text="${usuario.correoPrimario}" >8965235</td>
                         <td th:text="${usuario.fechaUltimoCambio}">Mario</td>
                         <td th:text="${usuario.estado}">1</td>
                        <td>
                             <button type="button"  th:data-text="${usuario.usuarioId}" class="menu-button-solicitud btn btn-warning">
                                 <i class="fa-solid fa-eye"></i>
                             </button>
                         </td>
                         <td>
                             <form id="deleteForm" enctype="multipart/form-data" th:method="delete"
                                  th:action="@{/delete/{id}(id = ${usuario.usuarioId})}">
                             <button  type="submit" class="menu-button-solicitud btn btn-primary">
                                 Delete
                             </button>
                             </form>
                         </td>
                     </tr>
                    </tbody>
                </table>

                <div id="table-pagination-bottom">
                    <nav aria-label="Page navigation example" style="float:left;">
                        <p class="page-item" th:text="'Registros restantes: '+${TablePaginationBean.remainCount}" style="text-align: center; margin: 5px;">Previous</p>
                    </nav>
                    <nav aria-label="Page navigation example" style="float:right;">
                        <ul class="pagination">
                            <li th:if="${TablePaginationBean.paginationIndex > 0}" class="page-item"><a class="page-link" th:href="@{/gestion/usuario(indexPage=-1)}">Previous</a></li>
                            <li class="page-item current-page" th:text="'Page '+${TablePaginationBean.paginationIndex}" >Previous</li>
                            <li class="page-item"><a class="page-link" th:href="@{/gestion/usuario(indexPage=1)}">Next</a></li>
                        </ul>
                    </nav>
                </div>

            </div>

        </div>
    </div>

    <!-- END Lista de usuarios en el sistema -->


</section>

<div  layout:fragment="custom-panel">

    <!-- Modal detail ciudadano -->
    <div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailModalLabel" th:text="#{page.generar.label.detail.modal.gestion.usuario.title}">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form>

                    <div class="modal-body">

                        <div class="mb-3">
                            <img id="profileUrlDetail" src="../assets/img/app/unknown-user-Image.png" class="rounded mx-auto d-block" style="height: 150px; width: 180px;" alt="...">
                        </div>

                        <div class="mb-3">
                            <label for="usuarioIdDetail" class="form-label" th:text="#{page.gestion.usuario.column.usuarioId}">usuario Id</label>
                            <input id="usuarioIdDetail" type="text" class="form-control" disabled="true" value="1156">
                        </div>

                        <div class="mb-3">
                            <label for="codigoDetail" class="form-label" th:text="#{page.gestion.usuario.column.codigo}">Cedula</label>
                            <input id="codigoDetail"  type="text" class="form-control"  disabled="true" value="02100032850">
                        </div>

                        <div class="mb-3">
                            <label for="tipoUsuarioIdDetail" class="form-label" th:text="#{page.gestion.usuario.column.tipoUsuarioId}">NSS</label>
                            <input id="tipoUsuarioIdDetail" type="text" class="form-control" disabled="true" value="50307232">
                        </div>

                        <div class="mb-3">
                            <label for="descripcionTipoUsuarioDetail" class="form-label" th:text="#{page.gestion.usuario.column.descripcionTipoUsuario}" >Nombre</label>
                            <input id="descripcionTipoUsuarioDetail"  type="text" class="form-control" value="FREIDMANT">
                        </div>
                        <div class="mb-3">
                            <label for="contactoIdDetail" class="form-label" th:text="#{page.gestion.usuario.column.contactoId}">Primer Apellido</label>
                            <input id="contactoIdDetail"  type="text" class="form-control" value="DOINET">
                        </div>
                        <div class="mb-3">
                            <label for="descripcionContactoDetail" class="form-label" th:text="#{page.gestion.usuario.column.descripcionContacto}">Segundo Apellido</label>
                            <input type="text" class="form-control" id="descripcionContactoDetail" value="GODEK">
                        </div>

                        <div class="mb-3">
                            <label for="correoPrimarioDetail" class="form-label" th:text="#{page.gestion.usuario.column.correoPrimario}">Segundo Apellido</label>
                            <input type="text" class="form-control" id="correoPrimarioDetail" disabled="true" value="Masculino">
                        </div>

                        <div class="mb-3">
                            <label for="posicionDetail" class="form-label" th:text="#{page.gestion.usuario.column.posicion}">Segundo Apellido</label>
                            <input type="text" class="form-control" id="posicionDetail" disabled="true" value="05/Jan/1990">
                        </div>

                        <div class="mb-3">
                            <label for="estadoDetail" class="form-label" th:text="#{page.gestion.usuario.column.estado}">Segundo Apellido</label>
                            <input type="text" class="form-control" id="estadoDetail" disabled="true" value="05/Jan/1990">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{page.generar.label.accion.cerrar}">Close</button>
                    </div>

                </form>
            </div>
        </div>
    </div>


</div>
<div  layout:fragment="custom-script">

    <script th:src="@{../assets/js/gestion-usuario-script.js}"></script>

</div>
</body>
</html>