<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">

    <link th:href="@{/css/pure-min.css}" rel="stylesheet">
    <link th:href="@{/css/grids-responsive-min.css}" rel="stylesheet">
    <link th:href="@{/css/layouts-blog-styles.css}" rel="stylesheet">

    <link th:href="@{/css/styles_A.css}" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>Usuario: Serving Web Content</title>
</head>
<body>

<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-6">
        <div class="header">
            <h1 class="brand-title">Soporte Técnico. UNIPAGO S. A.</h1>
            <h2 class="brand-tagline">This system is intended only for the person or entity authorized.</h2>

            <nav class="nav">
                <ul class="nav-list">

                    <li class="nav-item">
                        <a class="pure-button" th:href="@{/usuario}" >Account Page</a>
                    </li>

                    <li class="nav-item">
                        <a class="pure-button" th:href="@{/entidad}" >Entidad</a>
                    </li>

                    <li class="nav-item">
                        <a class="pure-button" th:href="@{/afi_titular}" >Afiliacion Titular</a>
                    </li>

                    <li class="nav-item">
                        <a class="pure-button" th:href="@{/afi_dependiente}" >Afiliacion Dependientes</a>
                    </li>

                    <li class="nav-item">
                        <a class="pure-button" th:href="@{/catalogo}" >Catalogos</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" th:href="@{/gestion/usuario}" >Gestion Usuario</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            <!-- A wrapper for all the blog posts -->
            <div class="posts">
                <h1 th:text="${SystemInfoBean.pageName}" class="content-subhead">Usuario </h1>
                <h1 th:text="${#dates.format(SystemInfoBean.sysDate,'dd MMMM yyyy')}" class="content-subhead">Fecha </h1>

                <!-- A single blog post -->
                <section class="post">
                    <header class="post-header">
                        <img alt="Unipago" class="post-avatar" th:src="@{/img/unipago_logo.png}" width="48" height="48">

                        <div>

                            <form method="post" class="pure-form" action="#" th:action="@{/search}" th:object="${UsuarioFormBean}">
                                <fieldset>
                                    <input type="text" th:field="*{codigo}" th:value="${UsuarioFormBean.codigo}"  placeholder="Nombre Usuario" />
                                    <button type="submit" class="pure-button pure-button-primary">Buscar</button>
                                </fieldset>
                            </form>

                        </div>


                    </header>

                    <div class="post-description">
                        <table class="pure-table"  style="height">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>CODIGO</th>
                                <th>CONTACTO</th>
                                <th>TIPO_USUARIO</th>
                                <th>POSICION</th>
                                <th>CEDULA</th>
                                <th>NSS</th>
                                <th>NOMBRE</th>
                                <th>APELLIDO</th>
                                <th>SEGUNDO_APELLIDO</th>
                                <th>GENERO</th>
                                <th>NACIONALIDAD</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr  th:each="user : ${UsuarioUnipagoList}">
                                <td th:text="${user.usuarioId}"> 1 </td>
                                <td th:text="${user.codigo}">Honda</td>
                                <td th:text="${user.contactoId}">Honda</td>
                                <td th:text="${user.descripcionTipoUsuario}">2009</td>
                                <td th:text="${user.posicion}">1</td>
                                <td th:text="${user.cedula}">Accord</td>
                                <td th:text="${user.nss}">2009</td>
                                <td th:text="${user.nombre}">1</td>
                                <td th:text="${user.primerApellido}">Honda</td>
                                <td th:text="${user.segundoApellido}">Accord</td>
                                <td th:text="${user.genero}">Accord</td>
                                <td th:text="${user.nacionalidad}">2009</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>

           <!-- <div class="footer">
                <div class="pure-menu pure-menu-horizontal">
                    <ul>
                        <li class="pure-menu-item"><a href="http://purecss.io/" class="pure-menu-link">About</a></li>
                        <li class="pure-menu-item"><a href="http://github.com/pure-css/pure/" class="pure-menu-link">GitHub</a></li>
                    </ul>
                </div>
            </div>-->
        </div>
    </div>
</div>

</body>
</html>